﻿@model Eloenay_Tcc.Models.Parcela

<div class="header">
    Confirmar Pagamento
</div>
<div class="content">
    <p>Essa parcela já foi paga?</p>
    <form class="ui form parcela-atualizar">
        <div class="ui aligned segment">
            @Html.HiddenFor(x => x.ParcelaId)
            <div class="field">
                @Html.Label("Valor da Parcela")
                @Html.HiddenFor(x => x.ValorDaParcela)
                @Html.TextBoxFor(x => x.ValorParcelaFormt, new { disabled = "disabled" })
            </div>
            <div class="field">
                @Html.Label("Valor Pago")
                @Html.TextBoxFor(x => x.ValorPagoDaParcela, new { @class = "ValorPagoParcela" })
                <div class="msg-valor"></div>
            </div>
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui negative button btnNaoStatus">
        Não
    </div>
    <div class="ui positive right button btnSimStatus" data-url="@Url.Action("Atualizar", "Parcela")">
        Sim
    </div>
</div>

