﻿@model IEnumerable<Eloenay_Tcc.Models.Parcela>

<table class="ui very basic table sgvl-datatable">
    @if (Model.Any(x => x.ParcelaId != null))
    {
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var parcela in Model)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => parcela.ParcelaId)
                        <b>Identificação: </b>
                        @Html.DisplayFor(modelItem => parcela.IdentificacaoParcela)
                        <br />
                        <b>Data de Vencimento: </b>
                        @Html.DisplayFor(modelItem => parcela.DataParcelaFormt)
                        <br />
                    </td>
                    @if (parcela.StatusDaParcela == false)
                    {
                        <td>
                            <b>Valor da parcela: </b>
                            @Html.DisplayFor(modelItem => parcela.ValorParcelaFormt)
                        </td>
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <b>Valor da parcela: </b>
                            @Html.DisplayFor(modelItem => parcela.ValorParcelaFormt)
                        </td>
                        <td>
                            <b>Valor pago: </b>
                            @Html.DisplayFor(modelItem => parcela.ValorPagoParcelaFormt)
                        </td>
                    }
                    <td>
                        <b>Status: </b>
                        @if (parcela.StatusDaParcela == true)
                        {
                            <button type="button" class="ui mini green button sgvl-text-uppercase">Pago</button>
                        }
                        @if (parcela.DataDaParcela.Date < DateTime.Now.Date && parcela.StatusDaParcela == false)
                        {
                            <a class="ui mini red button sgvl-text-uppercase statusBtn" data-url="@Url.Action("ObterModalParaAtualizarParcelas", "Parcela", new {id = parcela.ParcelaId})">Atrasado</a>
                        }
                        @if (parcela.DataDaParcela.Date >= DateTime.Now.Date && parcela.StatusDaParcela == false)
                        {
                            <a class="ui mini yellow button sgvl-text-uppercase statusBtn" data-url="@Url.Action("ObterModalParaAtualizarParcelas", "Parcela", new {id = parcela.ParcelaId})">Pendente</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr>
            <td>
                <h3 style="text-align:center">Nenhum registro encontrado</h3>
            </td>
        </tr>
    }
</table>
<br />