﻿@model Eloenay_Tcc.Models.Parcela
@{
    ViewBag.Title = "Index";
}

@section styles{
    @Styles.Render("~/Content/site-css")
    @Styles.Render("~/Content/autocomplete-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Parcelas</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    <div class="ui fluid large action input" id="parcelas" data-url="@Url.Action("BuscarParcelasPorVenda", "Parcela")">
        @Html.TextBox("Cliente_Nome", string.Empty, new { @class = "", placeholder = "Pesquisar por cliente" })
        <button class="ui button busca" id="btnPesquisarParcelas">Pesquisar</button>
        @Html.HiddenFor(model => model.VendaId)
    </div>
    <br />
    <hr />
    <div id="tabelaParcelas" data-url="@Url.Action("PreencherTabela", "Parcela")"></div>

    <div class="ui tiny modal modalStatus"></div>
</article>

@section scripts {
    @Scripts.Render("~/bundles/autocomplete-js")
    @Scripts.Render("~/bundles/jquery-ui-js")
    @Scripts.Render("~/bundles/parcelas-js")
}