﻿@model Eloenay_Tcc.Models.Venda

<div class="ui aligned segment">
    <h3 class="ui header sgvl-text-uppercase">Informações do Cliente</h3>
    <br />
    <div class="three fields">
        <div class="field" id="cliente" data-url="@Url.Action("ObterClienteParaAutocomplete", "Venda")">
            @Html.Label("Nome")
            <div class="ui action input">
                @Html.TextBox("Cliente_Nome", string.Empty, new { placeholder = "Digite o nome do cliente" })
                @Html.HiddenFor(model => model.ClienteId)
                <button class="ui icon button cadastrar-cliente" data-tooltip="Cadastrar Cliente" type="button">
                    <i class="plus icon"></i>
                </button>
            </div>
            <p class="informacao">* Caso não haja informações cadastre o cliente.</p>
        </div>
        <div class="field">
            @Html.Label("Cpf")
            @Html.TextBox("Cliente_Cpf", string.Empty, new { disabled = "disabled" })
        </div>
        <div class="field">
            @Html.Label("Data Nascimento")
            @Html.TextBoxFor(model => model.Cliente.DataNascimento, new { disabled = "disabled" })
        </div>
    </div>
</div>
<div class="ui aligned segment busca-lote">
    <h3 class="ui header sgvl-text-uppercase">Informações do Lote</h3>
    <br />
    <div class="three fields">
        <div class="field">
            @Html.Label("Lote")
            <div class="ui action input">
                <input type="text" name="lote_nome" id="lote_nome" value="@ViewBag.LoteIdentificacao" disabled />
                <input type="hidden" name="LoteId" id="LoteId" value="@ViewBag.LoteId" />
                <button class="ui icon button buscarLote" data-tooltip="Buscar Lote" type="button">
                    <i class="search icon"></i>
                </button>
            </div>
        </div>
        <div class="field">
            @Html.Label("Quadra")
            <input type="text" name="quadra_nome" id="quadra_nome" value="@ViewBag.LoteQuadra" disabled />
        </div>
        <div class="field">
            @Html.Label("Valor do lote")
            <input type="text" name="valorDoLote" id="valorDoLote" value="@ViewBag.LoteValor" disabled />
        </div>
    </div>
</div>
<div class="ui aligned segment">
    <h3 class="ui header sgvl-text-uppercase">Informações para a venda</h3>
    <br />
    <div class="five fields">
        <div class="field">
            @Html.Label("Valor de entrada")
            @Html.TextBox("ValorEntrada", null, new { })
        </div>
        <div class="field">
            @Html.Label("Quantidade de parcelas")
            @Html.EditorFor(model => model.QuantidadeDeParcelas, new { })
            <div class="msg-quantp"></div>
        </div>
        <div class="field">
            @Html.Label("Juros mensais")
            @Html.EditorFor(model => model.Juros, new { })
        </div>
        <div class="field">
            @Html.Label("Multa de rescisão")
            @Html.EditorFor(model => model.MultaDeRescisao, new { })
        </div>
        <div class="field">
            @Html.Label("Primeira Parcela")
            @Html.TextBox("primeiraParcela", null, new { @class = "calendario", autocomplete = "off" })           
        </div>
    </div>
    <div class="msg-multa"></div>
</div>
<div class="ui aligned segment">
    <b>Valor das parcelas</b>
    <div class="field">
        @Html.TextBox("valorParcelas", null, new { @class = "disabledInput field wide ten", disabled = "disabled" })
    </div>
</div>
<br />

<div class="ui divider spba-mtb-2rem"></div>

<div class="field">
    <button class="ui large button right floated sgvl-text-uppercase confirmar" type="submit">Confirmar</button>
    <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Venda", new { })">Retornar</a>
</div>

@Html.Partial("_ModalBuscarLote")