﻿@model Eloenay_Tcc.Models.Venda

<div class="header">
    Cancelar
</div>
<div class="content">
    <h4>Deseja efetuar o cancelamento dessa venda?</h4>
    <div class="ui form">
        <div class="ui stackable column grid divided sgvl-grid-details">
            <div class="two column row">
                <div class="column">
                    <h4 class="ui header">Quantidade de parcelas</h4>
                    <p id="quantidade-parcela">@Model.QuantidadeDeParcelas</p>
                </div>
                <div class="column">
                    <h4 class="ui header">Parcelas pagas</h4>
                    <p id="parcela-paga">@Model.ParcelaPaga</p>
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <h4 class="ui header">Valor pago</h4>
                    <p id="valor-pago">@string.Format("{0:#,0.00}", Model.ValorPago)</p>
                </div>
                <div class="column">
                    <h4 class="ui header">Valor a ser restituído</h4>
                    <p id="valor-restituicao">@string.Format("{0:#,0.00}", Model.ValorDevolucao)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <div class="ui negative button btnRetornarCancelarVenda">
        Não
    </div>
    <div class="ui positive right button btnSimVendaCancelada" data-url="@Url.Action("CancelarVenda", "Venda", new { id = Model.VendaId})" data-redirect="@Url.Action("Index", "Venda", new { busca = ""})" data-contrato="@Url.Action("BuscarContratoDeVendas", "Venda", new { id = Model.VendaId })">
        Sim
    </div>
</div>