﻿@{
    ViewBag.Title = "Adicionar";

    var link = new
    {
        modalCadastrarCliente = Url.Action("ModalCadastrarClienteVenda", "Venda")
    };
}
@section styles
{
    @Styles.Render("~/Content/datepicker-css")
    @Styles.Render("~/Content/site-css")
    @Styles.Render("~/Content/autocomplete-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Efetuar Venda</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">

    @using (Html.BeginForm("Adicionar", "Venda", new { area = "" }, FormMethod.Post, new { @class = "ui form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_Form")
    }

    <div class="ui modal add-venda" data-cliente="@link.modalCadastrarCliente"></div>
</article>

@section Scripts {
    @Scripts.Render("~/bundles/mask-js")
    @Scripts.Render("~/bundles/datepicker-js")
    @Scripts.Render("~/bundles/validar-campos-js")
    @Scripts.Render("~/bundles/preencher-drop-js")
    @Scripts.Render("~/bundles/autocomplete-js")
    @Scripts.Render("~/bundles/jquery-ui-js")
    @Scripts.Render("~/bundles/calculos-js")
    @Scripts.Render("~/bundles/adicionar-venda-js")
}