﻿@model Eloenay_Tcc.Models.Venda

@{
    ViewBag.Title = "Detalhes";
}

@section styles{
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Detalhes</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    <div class="ui stackable column grid divided sgvl-grid-details">
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Nome Cliente</h4>
                @Html.HiddenFor(model => model.VendaId, new { data_url = Url.Action("BuscarContratoDeVendas", "Venda", new { id = Model.VendaId }) })
                @Model.Cliente.Nome
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Cliente.Cpf)</h4>
                @Model.Cliente.Cpf
            </div>
            <div class="column">
                <h4 class="ui header">Data Nascimento</h4>
                @Model.Cliente.DataNascimentoFormt
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Identificação do Lote</h4>
                @Model.Lote.IdentificacaoDoLote
            </div>
            <div class="column">
                <h4 class="ui header">Identificação da Quadra</h4>
                @Model.Lote.Quadra.IdentificacaoDaQuadra
            </div>
            <div class="column">
                <h4 class="ui header">Valor do Lote</h4>
                @Model.Lote.ValorLoteFormat
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Valor de Entrada</h4>
                @Model.ValorEntradaFormat
            </div>
            <div class="column">
                <h4 class="ui header">Quantidade de Parcelas</h4>
                @Model.QuantidadeDeParcelas
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Juros)</h4>
                @Model.Juros%
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Data da Compra</h4>
                @Model.DataDaCompra.ToShortDateString()
            </div>
            <div class="column">
                <h4 class="ui header">Valor das Parcelas</h4>
                @ViewBag.ValorParcela
            </div>
            <div class="column">
                <h4 class="ui header">Multa</h4>
                @Model.MultaDeRescisao%
            </div>
        </div>
    </div>

    <div class="field">
        @if (Model.StatusDaVenda == true)
            {
            <button class="ui large button right floated sgvl-text-uppercase confirmar" type="button" id="btnImprimirContratoVendaEfetuada">Contrato</button>

            <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Venda", new { })">Retornar</a>
        }
        else
        {
            <button class="ui large button right floated sgvl-text-uppercase confirmar" type="button" id="btnImprimirContratoVendaCancelada">Contrato</button>

            <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("VendasCanceladas", "Venda", new { })">Retornar</a>
        }
    </div>
</article>

@section scripts{
    @Scripts.Render("~/bundles/imprimir-contrato-venda-efetuada-js")
    @Scripts.Render("~/bundles/imprimir-contrato-venda-cancelada-js")
    @Scripts.Render("~/bundles/pdfmake-js")
}