﻿@model Eloenay_Tcc.Models.Quadra

<div class="two fields" data-pd="lm">
    <div class="six wide field">
        @Html.Label("Identificação da Quadra")
        @Html.TextBoxFor(model => model.IdentificacaoDaQuadra, new { })
    </div>
    <div class="ui action twelve wide field" data-pd-lm="loteamento">
        @Html.Label("Loteamento")
        @Html.DropDownListFor(model => model.LoteamentoId, Enumerable.Empty<SelectListItem>(), "", new
       {
           @class = "fluid selection ui dropdown",
           data_pd_url = Url.Action("ObterLoteamento", "Quadra", new { }),
           data_pd_selected = Model?.Loteamento.Nome
       })
    </div>
</div>

<div class="three fields">
    <div class="field">
        @Html.Label("Largura")
        @Html.TextBoxFor(model => model.Largura, new { @class = "medida", onblur = "Calculos.MetrosQuadradosQuadra()" })
    </div>
    <div class="field">
        @Html.Label("Comprimento")
        @Html.TextBoxFor(model => model.Comprimento, new { @class = "medida", onblur = "Calculos.MetrosQuadradosQuadra()" })
    </div>
    <div class="field">
        @Html.Label("Metros Quadrado")
        @Html.TextBoxFor(model => model.MetroQuadradoDaQuadra, new { @class = "medida", disabled = "disabled" })
    </div>
</div>

<div class="ui divider spba-mtb-2rem"></div>

<div class="field">
    <button class="ui large button right floated sgvl-text-uppercase confirmar" type="submit">Confirmar</button>
    <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Quadra", new { })">Retornar</a>
</div>