﻿@model Eloenay_Tcc.Models.Quadra
@{
    ViewBag.Title = "Atualizar";
}

@section styles{
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">ATUALIZAR</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    @using (Html.BeginForm("Atualizar", "Quadra", new { area = "" }, FormMethod.Post, new { @class = "ui form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(l => l.QuadraId)
        @Html.HiddenFor(l => l.LoteamentoId)
        @Html.Partial("_Form")
    }

</article>

@section Scripts {
    @Scripts.Render("~/bundles/mask-js")
    @Scripts.Render("~/bundles/validar-campos-js")
    @Scripts.Render("~/bundles/calculos-js")
    @Scripts.Render("~/bundles/preencher-drop-js")
}