﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/basic-css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr-js")
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>

</head>
<body>
    <nav class="sgvl-navigation-left">
        <div class="big ui buttons item">
            @Html.ActionLink("SGVL - LOTEAMENTO", "Index", "Home", new { area = "" }, new { @class = "ui inverted button sgvl-text-uppercase sgvl-titulo" })
            <a onclick="SGVL.OnpenMenu(this);" class="ui inverted icon button center aligned"><i class="sidebar icon"></i></a>
        </div>

        <div class="fluid big ui inverted vertical menu">
            <div class="item sgvl-menu-execucao">
                <div class="item sgvl-p-0"></div>
                <div class="item sgvl-menu-itens">
                    <div class="ui top left floating item">
                        <a class="item" id="btnCliente" data-url="@Url.Action("Index","Cliente")">Cliente</a>
                        <a class="item" id="btnProprietario" data-url="@Url.Action("Index","Proprietario")">Proprietario</a>
                        <a class="item" id="btnLoteamento" data-url="@Url.Action("Index","Loteamento")">Loteamento</a>
                        <a class="item" id="btnQuadra" data-url="@Url.Action("Index","Quadra")">Quadra</a>
                        <a class="item" id="btnLote" data-url="@Url.Action("Index","Lote")">Lote</a>
                        <a class="item" id="btnVenda" data-url="@Url.Action("Index","Venda")">Venda</a>
                        <a class="item" id="btnParcela" data-url="@Url.Action("Index","Parcela")">Parcelas</a>
                    </div>
                </div>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="item sgvl-menu-settings">
                    <a href="@Url.Action("AlterarSenha","Login")" class="item dropdown" data-toggle="dropdown">@User.Identity.Name<span class="caret"></span></a>
                    <a class="item" href="@Url.Action("Logout","Login")">Sair</a>
                </div>
            }
        </div>
    </nav>
    <main class="sgvl-main">
        <div class="sgvl-container">
            @RenderBody()
        </div>
        <footer class="sgvl-footer sgvl-text-uppercase">
            <p>&copy; @DateTime.Now.Year <a href="@Url.Action("Cadastrar", "Login")" style="cursor:text"> - </a> Eloenay Pereira</p>
        </footer>
    </main>
    @Scripts.Render("~/bundles/basic-js")
    @Scripts.Render("~/bundles/menu-layout-js")
    @RenderSection("scripts", required: false)
    @Html.Partial("_Notify")
</body>
</html>