﻿@model Eloenay_Tcc.ViewModels.CadastrarUsuarioVm
@{
    ViewBag.Title = "Cadastrar Usuário";
}

@section styles{
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Cadastrar Usuário</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    @using (Html.BeginForm("Cadastrar", "Login", FormMethod.Post, new { @class = "ui large form" }))
    {
        @Html.AntiForgeryToken()
        <div class="two fields">
            <div class="field">
                @Html.Label("Nome Completo")
                @Html.TextBoxFor(model => model.Nome, new { })
            </div>
            <div class="field">
                @Html.LabelFor(model => model.Login)
                @Html.TextBoxFor(model => model.Login, new { })
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                @Html.LabelFor(model => model.Senha)
                @Html.PasswordFor(model => model.Senha, new { })
            </div>
            <div class="field">
                @Html.Label("Confirmar Senha")
                @Html.PasswordFor(model => model.ConfirmacaoSenha, new { })
            </div>
            <div class="ui action field">
                @Html.Label("Tipo Usuário")
                @Html.EnumDropDownListFor(model => model.TipoUsuario, new { @class = "fluid selection ui dropdown" })
            </div>
        </div>

        <div class="field">
            <button class="ui large button right floated sgvl-text-uppercase confirmar" type="submit">Confirmar</button>
            <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Lote", new { })">Retornar</a>
        </div>
    }
</article>

@section Scripts {
    @Scripts.Render("~/bundles/validar-campos-js")
}