﻿@model Eloenay_Tcc.Models.Loteamento

<div class="fields">
    <div class="twelve wide field">
        @Html.Label("Nome Loteamento")
        @Html.TextBoxFor(model => model.Nome, new { })
    </div>
    <div class="six wide field">
        @Html.LabelFor(model => model.Matricula)
        @Html.TextBoxFor(model => model.Matricula, new { })
    </div>
</div>

<div class="three fields" data-pd="pr">

    <div class="six wide field">
        @Html.Label("Metros Quadrado")
        @Html.TextBoxFor(model => model.MetrosQuadrados, new { @class = "medida" })
    </div>
    <div class="ui action twelve wide field" data-pd-pr="proprietario">
        @Html.Label("Proprietário")
        @Html.DropDownList("ProprietarioId", Enumerable.Empty<SelectListItem>(), "", new
       {
           @class = "fluid selection ui dropdown",
           data_pd_url = Url.Action("ObterProprietario", "Loteamento", new { }),
           data_pd_selected = Model?.ProprietarioId
       })
    </div>
</div>

<div class="fields">
    <div class="eight  wide field">
        @Html.Label("Endereço")
        @Html.TextBoxFor(model => model.Endereco, new { })
    </div>
    <div class="three wide field">
        @Html.Label("Número")
        @Html.TextBoxFor(model => model.Numero, new { })
    </div>
    <div class="eight  wide field">
        @Html.LabelFor(model => model.Bairro)
        @Html.TextBoxFor(model => model.Bairro, new { })
    </div>
</div>


<div class="three fields">
    <div class="field">
        @Html.LabelFor(model => model.Cep)
        @Html.TextBoxFor(model => model.Cep, new { @class = "cep"})
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Cidade)
        @Html.TextBoxFor(model => model.Cidade, new { })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Estado)
        @Html.EnumDropDownListFor(model => model.Estado, new { @class = "ui search fluid dropdown" })
    </div>
</div>

<div class="ui divider spba-mtb-2rem"></div>

<div class="field">
    <button class="ui large button right floated sgvl-text-uppercase confirmar" type="submit">Confirmar</button>
    <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Loteamento", new { })">Retornar</a>
</div>