﻿@model Eloenay_Tcc.Models.Lote

<div class="four fields" data-pd="lo">
    <div class="field">
        @Html.Label("Identificação do Lote")
        @Html.TextBoxFor(model => model.IdentificacaoDoLote, new { })
    </div>
    <div class="field">
        @Html.Label("Valor do Lote")
        @Html.TextBoxFor(model => model.ValorDoLote, new { @class = "money" })
    </div>
    <div class="field ui action" data-pd-lo="loteamento">

        @Html.Label("Loteamento")
        @Html.DropDownList("LoteamentoId", Enumerable.Empty<SelectListItem>(), "", new
       {
           @class = "fluid",
           data_pd_url = Url.Action("ObterLoteamento", "Venda", new { }),
           data_pd_selected = Model?.Quadra.LoteamentoId
       })
    </div>

    <div class="field ui action" data-pd-lo="quadra">

        @Html.Label("Quadra")
        @Html.DropDownList("QuadraId", Enumerable.Empty<SelectListItem>(), "", new
       {
           @class = "fluid disabled selection ui dropdown",
           data_pd_url = Url.Action("ObterQuadraPorLoteamento", "Venda"),
           data_pd_selected = Model?.Quadra.QuadraId
       })
    </div>
</div>

<div class="three fields">
    <div class="field">
        @Html.Label("Largura")
        @Html.TextBoxFor(model => model.Largura, new { @class = "medida", onblur = "Calculos.MetrosQuadradosLote()" })
    </div>
    <div class="field">
        @Html.Label("Comprimento")
        @Html.TextBoxFor(model => model.Comprimento, new { @class = "medida", onblur = "Calculos.MetrosQuadradosLote()" })
    </div>
    <div class="field">
        @Html.Label("Metros Quadrado")
        @Html.TextBoxFor(model => model.MetroQuadradoLote, new { @class = "medida", disabled = "disabled" })
    </div>
</div>

<div class="ui divider spba-mtb-2rem"></div>

<div class="field">
    <button class="ui large button right floated sgvl-text-uppercase confirmar" type="submit">Confirmar</button>
    <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Lote", new { })">Retornar</a>
</div>