﻿@model IEnumerable<Eloenay_Tcc.Models.Lote>

<table class="ui very basic table sgvl-datatable">
    @if (Model.Any(x => x.LoteId != null))
    {
        <thead>
            <tr>
                <th class="seven wide"></th>
                <th class=""></th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lote in Model)
            {
                <tr>
                    <td>
                        <b>Identificação: </b>
                        @Html.DisplayFor(modelItem => lote.IdentificacaoDoLote)
                        <br />
                    </td>
                    <td>
                        <b>Status: </b>
                        @if (lote.StatusDoLote == true)
                        {
                            <button type="button" class="ui mini yellow button sgvl-text-uppercase">Disponível</button>
                        }
                        else
                        {
                            <button type="button" class="ui mini green button sgvl-text-uppercase">Vendido</button>
                        }
                    </td>
                    <td>
                        <a class="ui mini button detalhes" id="btnDetalhes" href="@Url.Action("Detalhes", "Lote", new { id = lote.LoteId })" data-loading="btn" title="Detalhes"><i class="sgvl-icon list icon"></i></a>
                        <a id="btnAtualizar" href="@Url.Action("Atualizar", "Lote", new { id = lote.LoteId })" class="ui mini button editar" data-loading="btn" title="Editar"><i class="edit icon sgvl-icon"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr>
            <td>
                <h3 style="text-align:center">Nenhum registro encontrado</h3>
            </td>
        </tr>
    }
</table>
<br />