﻿@model Eloenay_Tcc.Models.Lote

<form class="ui form">
    <div class="three fields" data-pd="lo">
        <div class="field">
            <div class="ui action" data-pd-lo="loteamento">
                <b>@Html.Label("Loteamento")</b>
                @Html.DropDownList("LoteamentoId", Enumerable.Empty<SelectListItem>(), "Selecione um loteamento...", new
               {
                   @class = "fluid",
                   data_pd_url = Url.Action("ObterLoteamento", "Venda", new { }),
                   data_pd_selected = Model?.Quadra.LoteamentoId
               })
            </div>
        </div>
        <div class="field">
            <div class="ui action" data-pd-lo="quadra">
                <b>@Html.Label("Quadra")</b>
                @Html.DropDownList("QuadraId", Enumerable.Empty<SelectListItem>(), "Selecione uma quadra...", new
               {
                   @class = "fluid disabled selection ui dropdown",
                   data_pd_url = Url.Action("ObterQuadraPorLoteamento", "Venda"),
                   data_pd_selected = Model?.Quadra.QuadraId
               })
            </div>
        </div>
        <div class="field">
            <a class="ui medium button right floated blue sgvl-text-uppercase" id="btnAdicionar" href="@Url.Action("Adicionar", "Lote", new {  })" data-loading="btn" title="Adicionar">Adicionar</a>
        </div>
    </div>
</form>
<hr />