﻿@{
    ViewBag.Title = "Adicionar";
}

@section styles{
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">ADICIONAR</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    @using (Html.BeginForm("Adicionar", "Lote", new { area = "" }, FormMethod.Post, new { @class = "ui form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_Form")
    }

</article>

@section Scripts {
    @Scripts.Render("~/bundles/mask-js")
    @Scripts.Render("~/bundles/validar-campos-js")
    @Scripts.Render("~/bundles/preencher-drop-js")
    @Scripts.Render("~/bundles/calculos-js")
}