﻿@model Eloenay_Tcc.Models.Lote
@{
    ViewBag.Title = "Detalhes";
}

@section styles{
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Detalhes</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    <div class="ui stackable column grid divided sgvl-grid-details">

        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Identificação do Lote</h4>
                @Model.IdentificacaoDoLote
            </div>
            <div class="column">
                <h4 class="ui header">Valor do Lote</h4>
                @Model.ValorLoteFormat
            </div>
            <div class="column">
                <h4 class="ui header">Quadra</h4>
                @Model.Quadra.IdentificacaoDaQuadra
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Largura)</h4>
                @Model.Largura
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Comprimento)</h4>
                @Model.Comprimento
            </div>
            <div class="column">
                <h4 class="ui header">Metros Quadrado</h4>
                @Model.MetroQuadradoLote
            </div>
        </div>

        <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Lote", new { })">Retornar</a>
    </div>
</article>