﻿@model Eloenay_Tcc.Models.Cliente

@{
    ViewBag.Title = "Atualizar";
}
@section styles
{
    @Styles.Render("~/Content/datepicker-css")
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Atualizar</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    @using (Html.BeginForm("Atualizar", "Cliente", new { area = "" }, FormMethod.Post, new { @class = "ui form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(c => c.ClienteId)
        @Html.Partial("_Form")
    }
</article>

@section Scripts {
    @Scripts.Render("~/bundles/mask-js")
    @Scripts.Render("~/bundles/datepicker-js")
    @Scripts.Render("~/bundles/validar-campos-js")
}