﻿@model Eloenay_Tcc.Models.Lote

<div class="header">
   Informações do lote
</div>
<div class="content">
    <div class="ui form">
        <div class="ui stackable column grid divided sgvl-grid-details">
            <div class="three column row">
                <div class="column">
                    <h4 class="ui header">Identificação do Lote</h4>
                    @Model.IdentificacaoDoLote
                </div>
                <div class="column">
                    <h4 class="ui header">Valor do Lote</h4>
                    @Model.ValorLoteFormat
                </div>
                <div class="column">
                    <h4 class="ui header">Quadra</h4>
                    @Model.Quadra.IdentificacaoDaQuadra
                </div>
            </div>
            <div class="three column row">
                <div class="column">
                    <h4 class="ui header">@Html.DisplayNameFor(model => model.Largura)</h4>
                    @Model.Largura
                </div>
                <div class="column">
                    <h4 class="ui header">@Html.DisplayNameFor(model => model.Comprimento)</h4>
                    @Model.Comprimento
                </div>
                <div class="column">
                    <h4 class="ui header">Metros Quadrado</h4>
                    @Model.MetroQuadradoLote
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.StatusDoLote == true)
{
    <div class="actions">
        <div class="divbtnlote"><a class="ui positive right button btnSimVendaCancelada" href="@Url.Action("AdicionarVendaPelaHome", "Venda", new { id = Model.LoteId})">Vender Lote</a></div>
    </div>
}

