﻿@model Eloenay_Tcc.Models.Loteamento
<h3>Informações de quadra/lote</h3>
<div class="row">
    <table class="ui very basic table sgvl-datatable">
        @if (Model.LoteamentoId != null && Model.Quadras.Any())
        {
            <thead>
                <tr>
                    <th class="one wide"></th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quadras in Model.Quadras)
                {
                    <tr>
                        <td>
                            <button class="ui mini facebook button">@quadras.IdentificacaoDaQuadra</button>
                        </td>
                        <td class="tdlote">
                            @foreach (var lotes in quadras.Lotes)
                            {
                                if (lotes.StatusDoLote == true)
                                {
                                    <a class="ui mini brown button btninformlote" data-url="@Url.Action("InformacoesLote", "Home", new { loteId = lotes.LoteId})" data-tooltip="Lote Disponivel">@lotes.IdentificacaoDoLote</a>
                                }
                                else if (lotes.Vendas.Any(v => v.Parcelas.Count(x => x.StatusDaParcela == true) == lotes.Vendas.Sum(l => l.Parcelas.Count())))
                                {
                                    <button class="ui mini yellow button btninformlote" data-tooltip="Lote Quitado" data-url="@Url.Action("InformacoesLote", "Home", new { loteId = lotes.LoteId})">@lotes.IdentificacaoDoLote</button>
                                }
                                else
                                {
                                    <button class="ui mini green button btninformlote" data-tooltip="Lote Vendido" data-url="@Url.Action("InformacoesLote", "Home", new { loteId = lotes.LoteId})">@lotes.IdentificacaoDoLote</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tr>
                <td>
                    <h3 style="text-align:center">Nenhum registro encontrado</h3>
                </td>
            </tr>
        }
    </table>
</div>