﻿@model IEnumerable<Eloenay_Tcc.Models.Parcela>
@{
    var mes = ViewBag.DataMes;
}
<table class="ui compact table sgvl-datatable informacao-tabela-parcela">
    @if (Model.Any() && Model.Count(x => x.Venda.StatusDaVenda == true) != 0)
    {
        <thead>
            <tr>
                <th>Nome Cliente</th>
                <th>Quadra - Lote</th>
                <th>Data Vencimento</th>
                <th>Status</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parcelas in Model)
            {
                <tr>
                    @if (mes != null && parcelas.Venda.StatusDaVenda == true)
                    {
                        <td> @parcelas.Venda.Cliente.Nome</td>
                        <td>@parcelas.Venda.Lote.Quadra.IdentificacaoDaQuadra - @parcelas.Venda.Lote.IdentificacaoDoLote</td>
                        <td>@parcelas.DataParcelaFormt</td>
                        if (parcelas.DataDaParcela.Date >= DateTime.Now.Date && parcelas.StatusDaParcela == false)
                        {
                            <td><button class="ui field yellow label">Pendente</button></td>
                        }
                        else if (parcelas.DataDaParcela.Date < DateTime.Now.Date && parcelas.StatusDaParcela == false)
                        {
                            <td><button class="ui field red label">Atrasado</button></td>
                        }
                        else
                        {
                            <td><button class="ui field green label">Pago</button></td>
                        }
                        <td>@parcelas.ValorParcelaFormt</td>
                    }
                    else
                    {
                        if (parcelas.DataDaParcela.Month == DateTime.Now.Month && parcelas.DataDaParcela.Year == DateTime.Now.Year && parcelas.Venda.StatusDaVenda == true)
                        {
                            <td> @parcelas.Venda.Cliente.Nome</td>
                            <td> @parcelas.Venda.Lote.Quadra.IdentificacaoDaQuadra - @parcelas.Venda.Lote.IdentificacaoDoLote</td>
                            <td>@parcelas.DataParcelaFormt</td>
                            if (parcelas.DataDaParcela.Date >= DateTime.Now.Date && parcelas.StatusDaParcela == false)
                            {
                                <td><a class="ui mini yellow button sgvl-text-uppercase statusBtn" data-url="@Url.Action("ObterModalParaAtualizarParcelas", "Parcelas", new {id = parcelas.ParcelaId})">Pendente</a></td>
                            }
                            else if (parcelas.DataDaParcela.Date < DateTime.Now.Date && parcelas.StatusDaParcela == false)
                            {
                                <td><button class="ui field red label">Atrasado</button></td>
                            }
                            else
                            {
                                <td><button class="ui field green label">Pago</button></td>
                            }
                            <td>@parcelas.ValorParcelaFormt</td>
                        }
                    }
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr>
            <td>
                <h3 style="text-align:center">Nenhum registro encontrado</h3>
            </td>
        </tr>
    }
</table>


