﻿@using Eloenay_Tcc.Models
@model Loteamento

@{
    ViewBag.Title = "SGVL-Loteamento";
    var parcelas = (IEnumerable<Parcela>)ViewBag.Parcelas;
}
@section styles
{
    @Styles.Render("~/Content/datepicker-css")
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Loteamento - @Model.Nome</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    @Html.HiddenFor(model => model.LoteamentoId)

    @Html.Partial("_DashBoards")

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Quadras/Lotes</a>
        <a class="item" data-tab="second">Vendidos/Quitados</a>
        <a class="item" data-tab="third">Canceladas</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        @Html.Partial("_TabelaQuadrasLotes")
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        @Html.Partial("_DashBoardParcelas", parcelas)
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        @Html.Partial("_DashBoardParcelasCanceladas")
    </div>

    <div class="ui tiny modal informacao-lote"></div>

</article>

@section scripts{
    @Scripts.Render("~/bundles/datepicker-js")
    @Scripts.Render("~/bundles/parcelas-por-periodo-js")

    <script>
        $('.ui.accordion').accordion();

        $('.menu .item').tab();

        $(document).on("click", ".btninformlote", function () {
            var modal = $(".informacao-lote");
            var btn = $(this);
            var url = btn.data("url");

            $.ajax({
                url: url,
                method: "GET",
                success: function (result) {
                    modal.empty();
                    modal.html(result);
                    modal.modal("show");
                },
            });
        });
    </script>
}