﻿@model Eloenay_Tcc.Models.Proprietario

<div class="three fields">
    <div class="field">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Cpf)
        @Html.TextBoxFor(model => model.Cpf, new { @class = "cpf" })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Rg)
        @Html.TextBoxFor(model => model.Rg, new { })
    </div>
</div>

<div class="three fields">
    <div class="field">
        @Html.Label("Data de Nascimento")
        @Html.TextBoxFor(model => model.DataNascimento, new { @class = "calendario date", autocomplete = "off" })
    </div>
    <div class="field">
        @Html.Label("Estado Civil")
        @Html.EnumDropDownListFor(model => model.EstadoCivil, new { @class = "ui search fluid selection input dropdown" })
    </div>
    <div class="field">
        @Html.Label("Orgão Expedidor")
        @Html.TextBoxFor(model => model.OrgaoExpedidor, new { })
    </div>
</div>

<div class="three fields">
    <div class="field">
        @Html.LabelFor(model => model.Nacionalidade)
        @Html.TextBoxFor(model => model.Nacionalidade, new { })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Telefone)
        @Html.TextBoxFor(model => model.Telefone, new { @class = "telefone" })
    </div>
    <div class="field">
        @Html.Label("Ocupação")
        @Html.TextBoxFor(model => model.Ocupacao, new { })
    </div>
</div>

<div class="fields">
    <div class="eight  wide field">
        @Html.Label("Endereço")
        @Html.TextBoxFor(model => model.Endereco, new { })
    </div>
    <div class="three wide field">
        @Html.Label("Número")
        @Html.EditorFor(model => model.Numero, new { })
    </div>
    <div class="eight  wide field">
        @Html.LabelFor(model => model.Bairro)
        @Html.TextBoxFor(model => model.Bairro, new { })
    </div>
</div>


<div class="three fields">
    <div class="field">
        @Html.LabelFor(model => model.Cep)
        @Html.TextBoxFor(model => model.Cep, new { @class = "cep" })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Cidade)
        @Html.TextBoxFor(model => model.Cidade, new { })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Estado)
        @Html.EnumDropDownListFor(model => model.Estado, new { @class = "ui search fluid selection input dropdown" })
    </div>
</div>

<div class="ui divider spba-mtb-2rem"></div>

<div class="field">
    <button class="ui large button right floated sgvl-text-uppercase confirmar" type="submit">Confirmar</button>
    <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Proprietario", new { })">Retornar</a>
</div>