﻿@model Eloenay_Tcc.Models.Proprietario
@{
    ViewBag.Title = "Detalhes";
}

@section styles
{
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Detalhes</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">
    <div class="ui stackable column grid divided sgvl-grid-details">
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Nome Completo</h4>
                @Model.Nome
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Cpf)</h4>
                @Model.Cpf
            </div>
            <div class="column">
                <h4 class="ui header">Estado Civil</h4>
                @Model.EstadoCivil
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">Data de Nascimento</h4>
                @Model.DataNascimentoFormt
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Rg)</h4>
                @Model.Rg
            </div>
            <div class="column">
                <h4 class="ui header">Orgão Expedidor</h4>
                @Model.OrgaoExpedidor
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Nacionalidade)</h4>
                @Model.Nacionalidade
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Telefone)</h4>
                @Model.Telefone
            </div>
            <div class="column">
                <h4 class="ui header">Ocupação</h4>
                @Model.Ocupacao
            </div>
        </div>
        <div class="three column row">
            <div class="seven wide column">
                <h4 class="ui header">Endereço</h4>
                @Model.Endereco
            </div>
            <div class="two wide column">
                <h4 class="ui header">Número</h4>
                @Model.Numero
            </div>
            <div class="seven wide column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Bairro)</h4>
                @Model.Bairro
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Cep)</h4>
                @Model.Cep
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Cidade)</h4>
                @Model.Cidade
            </div>
            <div class="column">
                <h4 class="ui header">@Html.DisplayNameFor(model => model.Estado)</h4>
                @Model.Estado
            </div>
        </div>

        <a class="ui large button left floated sgvl-text-uppercase retornar" href="@Url.Action("Index", "Proprietario", new { })">Retornar</a>
    </div>
</article>