﻿@using PagedList.Mvc;
@model PagedList.PagedList<Eloenay_Tcc.Models.Proprietario>

@{
    ViewBag.Title = "Index";
}
@section styles{
    @Styles.Render("~/Content/paged-list-css")
    @Styles.Render("~/Content/site-css")
}

<header class="sgvl-header">
    <h1 class="ui header">
        <span class="content sgvl-text-uppercase">Proprietário</span>
    </h1>
</header>

<article class="ui basic segment sgvl-article">

    @using (Html.BeginForm("Index", "Proprietario", FormMethod.Get, new { @class = "ui form" }))
    {
        <a class="ui medium button right floated blue sgvl-text-uppercase" id="btnAdicionar" href="@Url.Action("Adicionar", "Proprietario", new {  })" data-loading="btn" title="Adicionar">Adicionar</a>

        <div class="ui medium input action">
            <input class="" id="busca" type="text" placeholder="Buscar Proprietário..." name="busca" value="@ViewBag.Busca">
            <button class="ui button busca" type="submit"><i class="search icon"></i></button>
        </div>
    }

    <table class="ui very basic table sgvl-datatable">
        @if (Model.Any(x => x.ProprietarioId != null))
        {
            <thead>
                <tr>
                    <th class="eight wide"></th>
                    <th class="three wide"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proprietario in Model)
                {
                    <tr>
                        <td>
                            <b>Nome: </b>
                            @Html.DisplayFor(modelItem => proprietario.Nome)
                            <br />
                            <b>Cpf: </b>
                            @Html.DisplayFor(modelItem => proprietario.Cpf)
                            <br />
                        </td>
                        <td>
                            <a class="ui mini button detalhes" id="btnDetalhes" href="@Url.Action("Detalhes", "Proprietario", new { id = proprietario.ProprietarioId })" title="Detalhes"><i class="sgvl-icon list icon"></i></a>
                            <a id="btnAtualizar" href="@Url.Action("Atualizar", "Proprietario", new { id = proprietario.ProprietarioId })" class="ui mini button editar" title="Editar"><i class="edit icon sgvl-icon"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tr>
                <td>
                    <h3 style="text-align:center">Nenhum registro encontrado</h3>
                </td>
            </tr>
        }
    </table>
    <br />

    <div id="paginacao">@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, busca = ViewBag.Busca }))</div>
</article>