﻿ body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: hidden;
}

 .sgvl-titulo{
     font-size: 24px;
 }

.sgvl-top-header {
    width: 100%;
    min-height: 700px;
    position: relative;
}

    .sgvl-top-header:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(74, 85, 187, .3);
        opacity: .6;
        z-index: 1;
    }

    .sgvl-top-header:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(/Content/img/ponto.png);
        opacity: .3;
    }

    .sgvl-top-header > .sgvl-top-header > * {
        width: 100%;
        height: 100%;
        position: absolute;
    }

        .sgvl-top-header > * {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

    .sgvl-top-header > .sgvl-top-menu {
        padding: 1rem 0 !important;
        margin: 0 !important;
        position: relative;
        z-index: 101;
    }

    .sgvl-top-header > div.container {
        height: calc(100% - 123px);
        position: relative;
    }

        .sgvl-top-header > div.container > .header {
            font-size: 35pt;
            line-height: .85;
            letter-spacing: 5px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
            z-index: 10;
        }


.sgvl-navigation-left {
    width: 300px !important;
    transition: left .3s ease-in-out;
}

    .sgvl-navigation-left.ativo {
        left: 0;
    }

    .sgvl-navigation-left > .ui.buttons {
        width: 100%;
        background-color: #49769c !important;
    }

        .sgvl-navigation-left > .ui.buttons > .ui.button {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            border-radius: 0 !important;
            border: none !important;
            box-shadow: none !important;
        }

        .sgvl-navigation-left > .ui.buttons > .ui.icon.button:last-child {
            padding: 3px 10px 3px 3px;
            font-size: 3rem;
            line-height: .98;
            text-align: right;
            display: none;
        }

    .sgvl-navigation-left:hover > .ui.buttons:hover > .ui.button:hover {
        background: rgba(255, 255, 255, 0.08) !important;
        color: #ffffff !important;
    }

    .sgvl-navigation-left > .ui.vertical.menu {
        height: calc(100% - 46px);
        margin: 0 !important;
        background-color: #49769c !important;
        border-radius: 0 !important;
        position: relative;
    }

        .sgvl-navigation-left > .ui.vertical.menu > .sgvl-menu-execucao {
            padding: 0 !important;
        }

        .sgvl-navigation-left > .ui.vertical.menu > .sgvl-menu-itens > .item:before {
            display: none;
        }

        .sgvl-navigation-left > .ui.vertical.menu > .sgvl-menu-itens > .item > .sgvl-sub-menu {
            width: 100%;
            margin: 0 !important;
            position: absolute !important;
            top: 48px !important;
            left: 0 !important;
            border-radius: 0 0 0.28571429rem 0.28571429rem !important;
            box-shadow: none !important;
            border: none !important;
        }

        .sgvl-navigation-left > .ui.vertical.menu > .sgvl-menu-settings {
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
            background: transparent !important;
            position: absolute !important;
            bottom: 0;
        }

.sgvl-main {
    flex: 1;
    overflow: auto;
}

    .sgvl-main > .sgvl-container {
        min-height: calc(100% - 71px);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

        .sgvl-main > .sgvl-container > .sgvl-header {
            width: 100%;
            padding: 2rem 1em;
            background-color: #fff;
        }

        .sgvl-main > .sgvl-container > .sgvl-article {
            flex: auto;
            min-height: -webkit-fill-available;
            margin: 0 !important;
            border-top: 1px solid rgba(34,36,38,.15);
        }

        .sgvl-main > .sgvl-container > .sgvl-navigation-right {
            width: 250px;
            margin: 0 !important;
            padding: 0 1em 0 0 !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            border-top: 1px solid #D4D4D5;
            border-left: none !important;
            border-right: none !important;
            border-bottom: none !important;
        }

            .sgvl-main > .sgvl-container > .sgvl-navigation-right > .ui.menu {
                padding: 1em 1em 0 0;
                height: 100%;
            }

            .sgvl-main > .sgvl-container > .sgvl-navigation-right {
                display: none;
                border-radius: 0 !important;
                border: none !important;
                box-shadow: none !important;
            }

                .sgvl-main > .sgvl-container > .sgvl-navigation-right > .menu div.item {
                    display: none !important;
                }

    .sgvl-main > .sgvl-footer {
        width: 100%;
        height: 71px;
        padding: 1em;
        background-color: #fff;
        border-top: 1px solid rgba(34,36,38,.15);
        clear: both;
    }

.sgvl-datatable {
    width: 100% !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.sgvl-datatable-filter {
    margin: 0 !important;
    padding: 0 !important;
}

.sgvl-datatable-table {
    margin: 0 !important;
    padding: 0 !important;
}

.sgvl-datatable-pagination {
    margin: 0 !important;
    text-align: center;
}

.sgvl-grid-details {
    margin: 0 !important;
    padding: 1rem !important;
}

    .sgvl-grid-details .row > .column {
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        padding: 14px;
        font-size: 12pt;
    }

        .sgvl-grid-details .row > .column:first-child {
            border-left: 1px solid rgba(34, 36, 38, 0.15);
        }

        .sgvl-grid-details .row > .column:last-child {
            border-right: 1px solid rgba(34, 36, 38, 0.15);
        }

        .sgvl-grid-details .row > .column > .header {
            margin-bottom: .5rem;
        }

.sgvl-home-block {
    padding: 5rem 0 !important;
    border: none !important;
}

    .sgvl-home-block:first-child {
        margin-top: -1em !important;
    }

    .sgvl-home-block:last-child {
        margin-bottom: -1em !important;
    }

    .sgvl-home-block:before {
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        left: -100%;
        background: inherit;
        border-top: 1px solid rgba(34, 36, 38, 0.15);
    }

.sgvl-info {
    margin: -1em 0;
    min-height: 420px;
    text-align: justify;
}

    .sgvl-info .column:first-child {
        margin-left: -45px;
        padding: 0 !important;
    }

    .sgvl-info .column:last-child {
        padding-top: calc(20px + 1rem) !important;
    }

    .sgvl-info .sgvl-info-title {
        margin: 0 !important;
        padding: 10px 15px !important;
        background-color: #fff;
        border: 1px solid #D4D4D5 !important;
        box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
        position: absolute;
        top: -45px;
        right: -50%;
        z-index: 1;
    }

    .sgvl-info .sgvl-info-menu {
        padding: calc(20px + 1rem) 0 1rem 0;
        margin: 0 !important;
        border: none !important;
    }

        .sgvl-info .sgvl-info-menu .item.active {
            text-align: right;
            z-index: 1;
        }

    .sgvl-info .sgvl-info-menu-drop {
        display: none !important;
    }

.sgvl-icon {
    opacity: unset;
    padding-left: 6px;
}

.sgvl-m-0 {
    margin: 0 !important;
}

.sgvl-mt-0 {
    margin-top: 0 !important;
}

.sgvl-mtb-2rem {
    margin: 2rem 0 !important;
}

.sgvl-mbl-05rem {
    margin-bottom: .5rem !important;
    margin-left: .5rem !important;
}

.sgvl-mt-05rem {
    margin-top: .5rem !important;
}

.sgvl-mb-05rem {
    margin-bottom: .5rem !important;
}

.sgvl-ml-08rem {
    margin-left: .8rem !important;
}

.sgvl-mlr-n-15rem {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}

.sgvl-p-0 {
    padding: 0 !important;
}

.sgvl-p-1rem {
    padding: 1rem !important;
}

.sgvl-ptb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sgvl-float-right {
    float: right;
}

.sgvl-br-0 {
    border-radius: 0 !important;
}

.sgvl-br-tb-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.sgvl-db {
    display: block;
}

.sgvl-text-uppercase {
    text-transform: uppercase !important;
}

.sgvl-text-justify {
    text-align: justify !important;
}

.sgvl-text-right {
    text-align: right !important;
}

.sgvl-text-left {
    text-align: left !important;
}

.sgvl-input-segment {
    margin: 0 !important;
    padding: 0.67857143em 1em !important;
    box-shadow: none !important;
}

.ui.feed .user {
    color: #4183c4 !important;
}

.ui.feed .date:first-letter {
    text-transform: uppercase;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors ul {
    padding: inherit;
}
