﻿
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

.sgvl-mb20 {
    margin-bottom: 20px;
}
.sgvl-pb34 {
    padding-bottom: 34px;
}

div.sgvl-divtitulologin {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    background: #49769c;
}

.sgvl-titulologin {
    padding-top: 70px;
    color: white;
    font-family: Poppins-Regular;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    display: block;
}

.sgvl-subtitulologin {
    padding-bottom: 100px;
    color: white;
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
}

 input:focus {
        border-color: transparent !important;
    }

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

/*[ Form ]*/

.sgvl-loginform {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 300px 40px 300px;
}

.sgvl-loginformtitle {
    font-family: Poppins-Regular;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.sgvl-winput {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
}

.sgvl-rwinput1,
.sgvl-rwinput2 {
    width: 50%;
}

.sgvl-rwinput2 {
    border-left: none;
}


.sgvl-input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #666666;
    line-height: 1.2;
    padding: 0 25px;
}

input.sgvl-input {
    height: 55px;
}

/*---------------------------------------------*/

.sgvl-focusinput {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #49769c;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.sgvl-input:focus + .sgvl-focusinput {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}



/*------------------------------------------------------------------
[ Button ]*/
.sgvl-container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sgvl-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #49769c;
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.sgvl-login-form-btn:hover {
    background: #1d1948;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 900px) {
    .sgvl-loginform {
        width: 100%;
        padding: 50px 30px 40px 30px;
    }

    .sgvl-titulologin {
        font-size: 40px !important;
    }

    .sgvl-subtitulologin {
        font-size: 14px !important;
        padding-bottom: 80px;
    }

@media (max-width: 768px) {
    .sgvl-loginform {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .sgvl-loginform {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
        width: 100%;
    }

    .sgvl-rwinput1,
    .sgvl-rwinput2 {
        width: 100%;
    }

    .sgvl-rwinput2 {
        border-left: 1px solid #e6e6e6;
    }

    .sgvl-titulologin {
        font-size: 24px !important;
    }

    .sgvl-subtitulologin {
        font-size: 10px !important;
        padding-bottom: 50px;
    }

}

