﻿input#busca {
    margin-top: 7px;
    width: 290px;
}

i.sgvl-icon.icon {
    font-size: 1.4em;
    padding-left: 8px;
    padding-top: 3px;
}

div#paginacao {
    text-align: center;
}

button.ui.large.button.right.floated.sgvl-text-uppercase.confirmar {
    background: #5cb85c !important;
}

.editar {
    background: #eccb6a !important;
}

.detalhes {
    background: #e5c495 !important;
}

.retornar {
    background: #999 !important;
}

button.ui.button.busca {
    margin: 7px 0px 0px 0px !important;
}

button.ui.button#btnPesquisarParcelas {
    margin: 0px !important;
}

.ui.form .disabled.fields .field, .ui.form .disabled.field, .ui.form .field :disabled {
    pointer-events: none;
    opacity: unset !important; 
    background-color: #f6f6fb8c !important;
}
p.informacao{
    font-size: 12px;
    color: #c7c7ca;
}

.ui.center.aligned.segment.total-parcela {
    background-color: #d4e2e2;
}

.ui.center.aligned.segment.parcela-paga {
    background-color: #b4ecb4;
}

.ui.center.aligned.segment.parcela-pendente {
    background-color: #eaeaad;
}

.ui.center.aligned.segment.parcela-atrasada {
    background-color: #f5c1c1;
}

b.valor-tipo-parcelas {
    font-size: 13px;
}

.ui[class*="center aligned"].segment {
    background-color: #F9FAFB;
}